<div class="card g-0">
  <div class="rect-img-container">
    <img
      class="card-img-top rect-img"
      [src]="game.imageUrl"
      alt="Card image cap"
    />
  </div>
  <div class="card-body">
    <div class="row">
      <div class="">{{ game.shortName }}</div>
    </div>
    <div class="row">
      <div class="card-text col">
        <i class="small material-icons">download</i>{{ game.totalDownloads }}
      </div>
      <div class="card-text col">
        <i class="small material-icons">settings</i>{{ game.modsCount }}
      </div>
    </div>

    <a class="stretched-link" (click)="gameClick.emit(game)"></a>
  </div>
</div>
