/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Muli", serif;
}
h1 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 1rem;
}
h2 {
  font-size: 25px;
  text-align: center;
}

.view {
  color: blue;
}

.approve,
.edit,
.save {
  color: green;
}

.decline,
.cancel,
.delete {
  color: red;
}

body {
  position: relative;
  min-height: 100vh;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 20rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 20rem; /* Footer height */
  background-color: #3e4551;

}

#header{
  background-color: #3e4551;
  color: white;
}

body.modal-open{
  padding-right: 0 !important;
}
