<div class="login-form d-flex w-100 mx-auto mt-1">
  <form class="w-100" [formGroup]="editModForm" (ngSubmit)="onSubmit()">
    <div
      *ngIf="this.editModForm.get('name') as control"
      class="form-outline mb-4"
    >
      <label class="form-label" for="name">Name</label>

      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />

      <div
        *ngIf="control.invalid && (control.dirty || control.touched)"
        class="alert-danger"
      >
        <div *ngIf="control.errors?.['required']" class="text-danger">
          Name is required.
        </div>
        <div *ngIf="control.errors?.['minlength']" class="text-danger">
          Name should be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="imageUrl">Image</label>

      <input
        type="text"
        id="imageUrl"
        class="form-control"
        formControlName="imageUrl"
      />
    </div>

    <div
      class="custom-dropzone"
      ngx-dropzone
      [accept]="'image/*'"
      (change)="onSelect($event)"
      [multiple]="false"
    >
      <ngx-dropzone-label>
        <div>
          <h2>Drag and drop or click to select files</h2>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        *ngFor="let f of files"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
      >
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </div>

    <div class="form-group-lg">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="exampleFormControlTextarea1"
        rows="6"
      ></textarea>
    </div>

    <!-- Submit button -->
    <div class="w-100 text-center d-flex justify-content-center pt-2">
      <button
        type="submit"
        class="btn btn-primary btn-block mb-4 d-flex px-3 align-items-center"
      >
        <i class="material-icons send-icon pe-1">send</i> Submit
      </button>
    </div>
  </form>
</div>
