<div *ngIf="mod$ | async as mod">
  <div class="row">
    <img
      class="text-center mx-auto d-flex col-12 col-md-9 col-lg-8"
      [src]="mod.imageUrl"
      alt=""
    />
  </div>
  <div class="row mb-3 mt-2">
    <h1>{{ mod.name }}</h1>
  </div>
  <div class="row d-flex">
    <div class="col-8 col-sm-6 d-flex flex-column align-items-center">
      <p class="card-text d-flex">
        <i class="material-icons">file_download</i>Uploaded at
        {{ mod.createdAt | date: "short" }}
      </p>
      <p class="card-text d-flex">
        <i class="material-icons">person</i>Uploaded by:
        {{ mod.createdBy.username }}
      </p>
      <p class="card-text d-flex">
        <i class="material-icons">file_download</i>Total downloads:
        {{ mod.totalDownloads }}
      </p>
    </div>

    <div
      class="col-4 col-sm-6 d-flex flex-column align-items-center"
      *ngIf="(mod$ | async)?.modStatus == ModStatus.Approved"
    >
      <div>
        <app-star-rating
          [mod]="mod"
          (onValueChange)="onModRatingChange($event)"
        ></app-star-rating>
      </div>
      <p class="p-0">
        {{ mod.totalRatings }} votes, {{ mod.rating.toFixed(1) }}/5
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-11 col-lg-10 mx-auto">
      <h2 class="text-center">
        <i class="material-icons">edit</i> Description:
      </h2>
      <div class="" [innerText]="mod.description"></div>
    </div>
  </div>

  <div class="d-flex text-center justify-content-center">
    <button
      *ngIf="(mod$ | async)?.modStatus == ModStatus.Approved"
      class="d-flex btn btn-primary btn-block mt-3 p-2 p-md-3"
      (click)="onDownloadClick()"
    >
      <i class="material-icons">download</i>Download
    </button>
  </div>
</div>

<app-comments
  *ngIf="(mod$ | async)?.modStatus == ModStatus.Approved"
></app-comments>
