<footer id="footer" class="text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row d-flex mx-auto text-center justify-content-center">
        <!--Grid column-->
        <div class="col-10">
          <h5>About ModHub</h5>

          <p>
            ModHub is a great gaming community site. This is because site
            provides a great platform for content creators and users to upload,
            share, update their created content.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <span class="text-white">ModHub</span>
  </div>
  <!-- Copyright -->
</footer>
