.table-responsive {
  overflow-x: visible;
}

.view{
  color: blue;
}

.edit{
  color: green;
}

.delete{
  color: red;
}

.material-icons{
  font-size: 2rem ;
}

.model-dialog{
  max-width: 1000px !important;
}
