<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Modal</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="onClose()"
  ></button>
</div>
<div class="modal-body">{{ title }}</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">
    {{ cancelButtonText }}
  </button>
  <button
    type="button"
    [ngClass]="['btn', 'btn-primary', isSuccess ? 'btn-success' : 'btn-danger']"
    (click)="onClose(true)"
  >
    {{ saveButtonText }}
  </button>
</div>
