<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ModHub</a>
    <button
      (click)="collapse.toggle()"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            *ngIf="!(authService.isLoggedIn$ | async)"
            class="nav-link active"
            aria-current="page"
            href=""
            (click)="onLoginClick()"
            >Login</a
          >
          <a
            *ngIf="authService.isLoggedIn$ | async"
            class="nav-link active"
            aria-current="page"
            href=""
            (click)="onLogoutClick()"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href=""
            (click)="onUploadModClick()"
            >Upload mod</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="(authService.role$ | async) === Role.User"
            class="nav-link active"
            aria-current="page"
            href=""
            (click)="onMyUploadsClick()"
            >My uploads</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="(authService.role$ | async) === Role.Moderator"
            class="nav-link active"
            aria-current="page"
            href=""
            (click)="onModSubmissionsClick()"
          >Mod submissions</a
          >
        </li>
      </ul>
    </ngx-navbar-collapse>
  </div>
</nav>
